/* jPlayer: Playlist
----------------------------------------------- */

.jp-playlist {
	display: none;
}

/* Playlist Open */
.playlist-open {
	.track-info {
		padding-top: unit( 13 / @font-size-base, em );
		padding-bottom: 100%;
	}

	.jp-controls {
		display: none;
	}
}
