/* jPlayer: Playlist
----------------------------------------------- */

.jp-playlist {
	background-color: @white;
	border: solid @border-color;
	border-width: 1px 0 0 0;
	font-size: @font-size-small-rem;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	li {
		border-bottom: 1px solid @border-color;

		&:last-child {
			border-bottom-width: 0;
		}
	}

	a {
		display: block;
		outline: 0;
		padding: unit( 13 / @font-size-base, em ) unit( 20 / @font-size-base, em );

		&:hover,
		&:focus {
			background-color: @neutral-lighter;
			text-decoration: none;
		}
	}
}

.jp-playlist-item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.jp-state-playing {
	.jp-playlist-current {
		a {
			background-color: @neutral-lighter;
			color: @headings-color;
			text-decoration: none;
		}
	}
}

.jp-artist,
.jp-free-media {
	display: none;
}

.jp-playlist-item-remove {
	display: inline-block;
	float: right;
}
