/* Scroll Playlist */

.playlist-bottom {
	.jp-playlist {
		display: block;
	}
}

/* Scroll Playlist */

.playlist-scroll {
	.jp-audio {
		overflow: auto;
	}

	.jp-playlist {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
	}
}